<!DOCTYPE html>
<html>
<head>

  
<nav class="white">
    <div class="nav-wrapper">
      <div class="container">
    <div class="row">
      <div class="center">
        <h15 class="grey-text">free shipping on orders over....</h15>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>



  <title>Kleoshop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


<%= render "layouts/header" %>


       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


 <main class="container">  
     <%= yield %>
 </main>

 <%= render "layouts/footer" %>
    
</body>


    <script>
      $(".button-collapse").sideNav();
    </script>
</html>
